<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>

<body>
    header
        button
            a(href= "/profile") PROFILE
    <main class="main">
        <div class="form-popup" id="enterForm">
            <form action='/enter' method='POST'>
                <h1>Enter to</h1>
                <input type="text" placeholder="Enter room number" name="roomId">
                <input type="password" placeholder="Enter room password" name="roomEnterPassword">
                <button type="submit" class="btn">Enter</button>
            </form>
            <button class="btn enter-cancel" id="enterCancel">close</button>
        </div>
        <div class=" form-popup" id="createForm">
            <form action='/room' method='POST'>
                <div class="form-popup__create-form">
                    <div class="form-popup__create-form__left">
                        <h1>Create to</h1>
                    </div>
                    <div class="form-popup__create-form__right">
                        <input type="password" placeholder="create room password" name="roomCreatePassword">
                        //- <select name="" id="">
                        //-     <option value="">option</option>
                        //- </select>
                        <button type="submit" class="btn">Create</button>
                    </div>
                </div>
            </form>
            <button class="btn create-cancel" id="createCancel">close</button>
        </div>
        <div class="main-wrap">
            <div class="main-top">
                <div class="main-top__title">
                    <h1 class="main__text">Title</h1>
                </div>
                <a href="/logout">logout</a>
            </div>
            <div class="main-bottom">
                <div class="main-bottom__go">
                    <div class="main__text main__text__bottom" id="enterText">go to project</div>
                </div>
                <div class="main-bottom__create">
                    <div class="main__text main__text__bottom" id="createText">create to project</div>
                </div>
            </div>
        </div>
    </main>
    <script src="../lib/enterform.js"></script>

</body>

</html>