doctype html
html
    head
        meta(charset='UTF-8')
        link(rel="stylesheet" href="../stylesheets/style.css")
        title
    body
        h1= message
        button 
            a(href="/room_exit") exit
        