.wrap ,html, body {
  width:100%;
  height:100%;
  padding: 0;
  margin: 0;
}

.wrap {
  display: flex;
}
.side_bar {  
  width: 18%;  
}

.screen {  
  width: 60%;
  background-color: green;;
}

.chat {  
  width: 22%;  
}




.main_logo {
  width: 100%;
  height: 20%;
  background-color: white;
}

.main_menu {
  width: 100%;
  height: 10%;
  background-color: gray;
}

.profile{
  width: 100%;
  height: 10%;
  background-color: yellowgreen;
}

.logout {
  width:100%;
  height: 10%;
  background-color: royalblue;
}

.access_list{
  width: 100%;
  height: 50%;
  background-color: goldenrod;
}

.chat_message {
  width:100%;
  height:100%;
}

.live_chat {
  width: 100%;
  height:8%;
  background-color: goldenrod;
}

.live_chat_text {
  width:100%;
  height:80%;
  background-color: gray;
}

.input_line__ {
  width: 97%;
  height: 45px;
}